.container{
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    gap: 1rem;
    align-items: start;
}

@media (max-width: 868px) {
    .container {
        grid-template-columns: 1fr;
    }
}